{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/profile.css') }}" media="screen"/>
{% endblock %}

{% block body %}

  <h1 id="profile-header" class="header">
    {{ profile.username }}
  </h1>

  <div class="row my-2">
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 avatar-container mt-2">
      <img alt="user-image" id="user-image"
           src="{% if profile.avatar is not empty %}{{ profile.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}"/>
    </div>

    <div id="user-information"
         class="col-8 col-sm-5 col-md-6 col-lg-7 pl-3 pl-sm-0 mt-2 user-info">
      <p>
        <strong>
          {{ "profile.amountOfPrograms"|trans({}, "catroweb") }}:
        </strong>
        {{ program_count }}
      </p>
      <p>
        <i class="fas fa-users"></i>
        <strong>
          {{ "profile.follower"|trans({}, "catroweb") }}:
        </strong>
        {{ follower_count }}
      </p>
      {% if country %}
        <p>
          <i class="fas fa-globe-africa"></i>
          <strong>
            {{ "country"|trans({}, "catroweb") }}:
          </strong>
          {{ country }}
        </p>
      {% endif %}
    </div>

    <div id="follow-btn" class="col-4 col-sm-2 mt-2 text-right follow-button-container">
      {% if app.user == null or app.user.id != profile.id %}
        {% if profile.hasFollower(app.user) %}
          <button id="profile-follow-btn" class="btn btn-outline-primary profile-follows"
                  onclick="followers.unfollow('{{ profile.id }}','{{ profile.username }}')">
            {{ 'follower.follows'|trans({}, 'catroweb') }}
          </button>
        {% else %}
          <button id="profile-follow-btn" class="btn btn-primary profile-follow"
                  onclick="followers.follow('{{ profile.id }}')">
            {{ 'follower.follow'|trans({}, 'catroweb') }}
          </button>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3">

      <h1 id="profile-programs">
        {{ "profile.programsOf"|trans({}, "catroweb") }} {{ profile.username }}
      </h1>
      <div id="user-programs">
        <div class="programs"></div>
      </div>

    </div>
  </div>


{% endblock %}

{% block js %}
  <script>
    let programs = new ProjectLoader('#user-programs', '{{ path('api_user_programs') }}')
    programs.initProfile('{{ profile.id }}')
    $(document).on('click', '.program', function() {
      let clicked_program_id = this.id.replace('program-', '')
      this.className += ' visited-program'
      let stored_visits = sessionStorage.getItem('visits')
      if (!stored_visits)
      {
        let new_visits = [clicked_program_id]
        sessionStorage.setItem('visits', JSON.stringify(new_visits))
      }
      else
      {
        let parsed_visits = JSON.parse(stored_visits)
        if (!($.inArray(clicked_program_id, parsed_visits) >= 0))
        {
          parsed_visits.push(clicked_program_id)
          sessionStorage.setItem('visits', JSON.stringify(parsed_visits))
        }
      }
    })
  </script>

  <script src="{{ asset('js/Follower.min.js') }}"></script>
  <script>
    let followers = new Follower("{{ url('unfollow') }}", "{{ url('follow') }}",
      "{{ "somethingWentWrong"|trans({}, "catroweb") }}", "{{ "followError"|trans({}, "catroweb") }}",
      "{{ "unfollowError"|trans({}, "catroweb") }}")
  </script>
{% endblock %}