{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/profile.css') }}" media="screen"/>
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/notifications.css') }}" media="screen"/>
{% endblock %}

{% block body %}


  <div id="following-section">
    <h1 id="follows-header" class="header mb-4">
      {{ 'follower.follows'|trans({}, 'catroweb') }}
    </h1>

    <div id="no-following" class="text-center mb-5">
      {% if following_list is empty %}
        {{ "follower.noFollowing"|trans({}, "catroweb") }}
      {% endif %}
    </div>

    <div id="following-cards" class="mb-5">
      {% for followsUser in following_list %}
        <div id="following-{{ followsUser.id }}" class="single-following my-3"
            {% if loop.index > 5 %} style="display: none" {% endif %}>
          {% include 'Followers/follower-item.html.twig' with {'user': followsUser} only %}
        </div>
      {% endfor %}
    </div>

    <div class="center col-12">
      <div id="show-more-following-button" class="button-show-more" style="display:inline-flex">
        <a data-toggle="tooltip" title="{{ 'show-more'|trans({}, 'catroweb') }}">
          <i class="fas fa-chevron-circle-down catro-icon-button"></i>
        </a>
      </div>
      <div id="show-less-following-button" class="button-show-less" style="display:inline-flex">
        <a data-toggle="tooltip" title="{{ 'show-less'|trans({}, 'catroweb') }}">
          <i class="fas fa-chevron-circle-up catro-icon-button"></i>
        </a>
      </div>
    </div>
  </div>

  <div id="follower-section">
    <h1 id="followers-header" class="header my-5">
      {{ 'follower.followers'|trans({}, 'catroweb') }}
    </h1>

    {% if followers_list is empty %}
      <div id="no-followers" class="text-center mb-5">
        {{ "follower.noFollowers"|trans({}, "catroweb") }}
      </div>
    {% endif %}

    <div id="follower-cards" class="mb-5">
      {% for followerUser in followers_list %}
        <div id="followers-{{ followerUser.id }}" class="single-follower my-3"
            {% if loop.index > 5 %} style="display: none" {% endif %}>
          {% include 'Followers/follower-item.html.twig' with {'user': followerUser} only %}
        </div>
      {% endfor %}
      <div class="center col-12">
        <div id="show-more-followers-button" class="button-show-more" style="display:inline-flex">
          <a data-toggle="tooltip" title="{{ 'show-more'|trans({}, 'catroweb') }}">
            <i class="fas fa-chevron-circle-down catro-icon-button"></i>
          </a>
        </div>
        <div id="show-less-followers-button" class="button-show-less" style="display:inline-flex">
          <a data-toggle="tooltip" title="{{ 'show-less'|trans({}, 'catroweb') }}">
            <i class="fas fa-chevron-circle-up catro-icon-button"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ asset('js/Follower.min.js') }}"></script>
  <script>
    let followers = new Follower("{{ url('unfollow') }}", "{{ url('follow') }}",
      "{{ "somethingWentWrong"|trans({}, "catroweb") }}", "{{ "followError"|trans({}, "catroweb") }}",
      "{{ "unfollowError"|trans({}, "catroweb") }}", 5, 5, 5, 5, {{ following_count }}, {{ follower_count }})
  </script>
{% endblock %}